.profile__foto{
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  max-width: 127.5px;
  align-self: center;
}
@media (max-width: 575px){
  .profile__foto {
    max-width: 180px;
  }
}
@media (max-width: 320px){
  .profile__foto {
    max-width: 125px;
  }
}