.element__description-like{
  width: 22px;
  height: 19px;
  align-self: center;
  padding-right: 20px;
  cursor: pointer;
  background: url(../../../images/Vector_\(1\).svg);
  border: none;
  background-repeat: no-repeat;


}
.element__description-like:hover{
  opacity: 50%;
}