.element__trash{
  width: 18px;
  height: 19.3px;
  position: absolute;
  right: ;
  top: ;
  cursor: pointer;
  background: url(../../../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  border: 1px solid red;
  z-index: 2;
}

.modal__close-btn:hover {
  opacity: .6;
}
