.element__container{
  background-color: white;
  max-height: 361px;
  max-width: 282px;
  border-radius: 10px;
  list-style: none;
  object-fit: cover;
}
@media (max-width: 879px){
  .element__container {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden; 
  }
}
